
  @import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
  /* Import AOS */

  @import url('https://unpkg.com/aos@2.3.1/dist/aos.css');
  /* Global Styles */

  .body {
      width: 784px;
      margin-left: auto;
      margin-right: auto;
  }

  /* Header Styles */

  .header {
      width: 100%;
      margin-top: 115px;
      margin-bottom: 76px;
      font-family: circular-std-medium, Arial, sans-serif;
  }

  .header .navigation {
      width: 100%;
      display: flex;
  }

  .header .navigation div a {
      color: #BBBBBB;
      text-decoration: none;
      transition: color 0.2s;
  }

  .header .navigation div a:hover {
      color: black !important;
  }

  .header .navigation .active {
      color: black !important;
  }

  .header .overlay {
      visibility: hidden;
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: white;
      opacity: 0;
      transition: opacity 0.5s;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .header .overlay .submenus {
      height: 180px;
      margin-top: auto;
      margin-bottom: auto;
      display: flex;
      flex-wrap: wrap;
  }

  .header .overlay .submenus .work-mobile, .header .overlay .articles-mobile, .header .overlay .about-mobile {
      width: 100%;
      font-size: 24px;
  }

  .show {
      visibility: visible !important;
      opacity: 1 !important;
  }

  .hide {
      visibility: hidden !important;
  }

  .header .navigation-sub {
      width: 276px;
      font-size: 22px;
      display: flex;
  }

  .header .navigation .anne {
      font-size: 26px;
      width: calc(100% - 276px);
      line-height: 36px;
  }

  .header .navigation .navigation-sub .work, .articles, .about {
      padding-right: 40px;
  }

  .header .designer {
      font-size: 26px;
      line-height: 36px;
  }

  .header .speciality {
      font-size: 20px;
      color: #00cf9f;
      line-height: 36px;
  }

 
  /* Footer */

  .footer {
      margin-top: 60px;
      margin-bottom: 60px;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
  }

  .footer .footer-statement {
      font-family: circular-std-medium, Arial, sans-serif;
      font-size: 18px;
      line-height: 28px;
      margin: 0px auto 11px auto;
      width: 100%;
  }

  .footer .social-links {
      display: flex;
      justify-content: center;
      width: 100%;
  }

  .footer .social-links .social {
      background-color: #000000;
      border-radius: 32px;
      width: 32px;
      height: 32px;
      margin-right: 8px;
  }

  .footer .social-links .social-last {
      background-color: #000000;
      border-radius: 32px;
      width: 32px;
      height: 32px;
      margin-right: 0px;
  }

  .footer .social-links .social .behance {
      width: 19px;
      height: 12px;
      padding: 10px 6.5px 10px 6.5px;
  }

  .footer .social-links .social .linkedin {
      width: 16px;
      height: 14px;
      /* padding: 8px 8px 10px 8px; */
  }

  .footer .social-links .social .github {
      width: 16px;
      height: 17px;
      /* padding: 10px 8px 10px 8px; */
  }

  .footer .social-links .social-last .email {
      width: 16px;
      height: 12px;
      /* padding: 10px 8px 10px 8px; */
  }

  .footer .footer-copyright {
      font-family: circular-std-book, Arial, sans-serif;
      font-size: 14px;
      color: #B1B1B1;
      line-height: 36px;
      margin: 20px auto 0px auto;
      width: 100%;
  }

 
  /*Contact */

  

  .about-content {
      margin-top: 50px;
      font-family: circular-std-book, Arial, sans-serif;
      font-size: 18px;
      line-height: 21.5px;
  }

  .about-title {
      font-family: circular-std-bold, Arial, sans-serif;
      font-size: 20px;

  }
  div.title.col-md-6.col-6{
      padding-top: 3rem;

  }

 

  .about-resume {
      width: 100%;
      margin-top: 60px;
      display: flex;
  }

  .about-resume a {
      text-decoration: none;
      width: 210px;
      height: 38px;
      color: #00cf9f;
      font-family: circular-std-medium, Arial, sans-serif;
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 2px;
      background-color: white;
      border: 2px solid#00cf9f;
      cursor: pointer;
      border-radius: 38px;
      transition: all 0.4s;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .about-resume a:hover {
      color: white;
      background-color: #00cf9f;
      border: 2px solid #00cf9f;
  }

  img.rounded-circle {
      border: 4px solid rgba(0, 0, 0, 0.3);
  }

  .col-md-6.col-6 {
      text-align: center;
      justify-content: center;
      align-items: center;
  }

 
  /* Skills */

  .skills_icon {
      font-size: 40px;
  }

  .skills_lang {
      font-size: 13px;
  }

  .card-deck .col-md-4 {
      color: #757474;
      text-align: center;
  }

  .card-deck .card {
      background: #dedcdc;
      /* color:#757474; */
      margin-bottom: 40px;
  }

  .transparent-box {
      position: absolute;
      opacity: 0.3;
      /* background:red;  */
      /* background: #07f7c0; */
      /* background: #33d9b3; */
      transition: 1s;
      width: 100%;
      height: 100%;
      top: 20px;
      left: 20px;
      border-radius: .25rem;
  }

  .transparent-box.one {
      background: #07f7c0;
  }

  .transparent-box.two {
      background: red;
      /* background: #07f7c0; */
  }

  .transparent-box.three {
      background: #4558ff;
      /* background: #07f7c0; */
  }

  .transparent-box:hover {
      top: 0;
      left: 0;
      cursor: pointer;
  }