
a,button {
  display: inline-block;
  height: 45px;
  width: 45px;
  padding: 5px 0;
  vertical-align: middle;
  text-align: center;
  line-height: 1;
  background: #a4acc4;
  color: #ffffff;
  border: 1px solid #a4acc4;
  border-radius: 100px;
  outline: none;
  font-size: 1.25rem;
  transition: all 0.4s ease-out;

  svg {
    height: 100%;
  }

  &:hover {
    background: #037fff;
    border-color: #037fff;
  }
}
