  /* Global

  *, *::before, *::after {
      box-sizing: border-box;
  }

  body {
      margin: 0;
      text-align: center;
      background: #fff;
      color: #3d3d3d;
      font-size: 16px;
      line-height: 1.7;
      font-family: "Josefin Sans", sans-serif;
  }

  .container {
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 20px;
  }

  section {
      padding: 108px;
  }

  .section-title {
      position: relative;
      font-size: 36px;
      margin: 0 0 60px 0;
      font-family: "Open Sans", sans-serif;
  }

  .section-title::after {
      position: absolute;
      content: "";
      bottom: -12px;
      left: 50%;
      width: 40px;
      height: 10px;
      transform: translateX(-50%);
      background: #ff5e57;
  } */

  /*Gallery*/

  .gallery {
      width: 100%;
      margin: 0 auto;
      padding: 0;
  }

  .row::before, .row::after {
      clear: both;
      content: "";
      display: table;
  }

  .brick-image img {
      width: 100%;
      height: 300px;
      object-fit: cover;
  }

  .brick-description {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      height: 100%;
  }

  .brick-description:hover {
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #fff;
      opacity: 1;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
  }

  .brick {
      float: right;
      width: 33.333%;
      height: 300px;
      position: relative;
  }

  .gallery button {
      color: #fff;
      background: #ff5e57;
      padding: 20px;
      border: none;
  }

  .bottom {
      color: #f0f0f0;
      background: #ff5e57;
      border: none;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 90px;
  }

  /* Brick-description */

  .brick-description {
      /* margin-top: 60px; */
      /* margin-bottom: 60px; */
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
  }

  .brick-description .brick-description-statement {
      font-family: circular-std-medium, Arial, sans-serif;
      font-size: 18px;
      line-height: 28px;
      margin: 0px auto 11px auto;
      width: 100%;
  }

  .brick-description .social-links {
      display: flex;
      justify-content: center;
      width: 100%;
  }

  .brick-description .social-links .social {
      background-color: #000000;
      border-radius: 32px;
      width: 32px;
      height: 32px;
      margin-right: 8px;
  }

  /* .brick-description .social-links .social-last {
    background-color: #000000;
    border-radius: 32px;
    width: 32px;
    height: 32px;
    margin-right: 0px;
} */

  /* .brick-description .social-links .social .behance {
    width: 19px;
    height: 12px;
    padding: 10px 6.5px 10px 6.5px;
} */

  .brick-description .social-links .social .linkedin {
      width: 16px;
      height: 14px;
      /* padding: 8px 8px 10px 8px; */
  }

  .brick-description .social-links .social {
      width: 16px;
      height: 17px;
      /* padding: 10px 8px 10px 8px; */
  }

  /* .brick-description .social-links .social-last .email {
    width: 16px;
    height: 12px;
    padding: 10px 8px 10px 8px;
} */

  /* .brick-description .brick-description-copyright {
    font-family: circular-std-book, Arial, sans-serif;
    font-size: 14px;
    color: #B1B1B1;
    line-height: 36px;
    margin: 20px auto 0px auto;
    width: 100%;
} */

  .icon-description {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      width: 100%;
      transition: all .4s ease-out;
      transform-origin: 0;
  }

  .icon-description:hover {
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #fff;
      opacity: 1;
      background: rgba(0, 0, 0, 0.6);
      width: 100%;
      transition: all .4s ease-out;
      transform-origin: 0;
  }

  .icon {
      float: right;
      width: 33.333%;
      /* height: 300px; */
      position: relative;
  }

  .icon-description {
      /* margin-top: 60px; 
    margin-bottom: 60px; */
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
  }

  .icon-description .social-icons {
      display: flex;
      justify-content: center;
      width: 100%;
  }

  .social-icons a, button {
      display: inline-block;
      height: 45px;
      width: 45px;
      padding: 5px 0;
      vertical-align: middle;
      text-align: center;
      line-height: 1;
      background: #a4acc4;
      color: #ffffff;
      border: 1px solid #a4acc4;
      border-radius: 100px;
      outline: none;
      font-size: 1.25rem;
      transition: all 0.4s ease-out;
  }

  .social-icons svg {
      height: 100%;
  }

  .social-icons button:hover {
      background: #037fff;
      border-color: #037fff;
  }

  .social-icons a:hover {
      background: #037fff;
      border-color: #037fff;
  }

  .card {
      border: 1px solid rgba(0, 0, 0, .300);
  }
  .card-title, .card-subtitle{
      text-align: center;
  }