@import url('https://fonts.googleapis.com/css?family=Baskervville|Ibarra+Real+Nova|Montserrat|Open+Sans|Roboto&display=swap');


$color-light: #fff;
$color-dark: #222f3e;
$color-background: #c8d6e5;
$color-primary: #ff9f43;
$color-secondary: #218c74;


$font-header: 'Montserrat', sans-serif;
$font-text: 'Ibarra Real Nova', serif;
$font-a: 'Roboto', sans-serif;
$font-b: 'Baskervville', serif;
$font-c: 'Open Sans', sans-serif;



$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;

@mixin p-el($element) {
  &:#{$element}, &::#{$element} {
    position: absolute;
    @content;
  }
}